CLI/Debug
CLI/Release
CLI/x64/Debug
CLI/x64/Release
Debug
DLL/Debug
DLL/Release
DLL/x64/Debug
DLL/x64/Release
MSG/Debug
MSG/MSG00409.bin
MSG/MSG.h
MSG/MSG.rc
MSG/Release
MSG/x64/Debug
MSG/x64/Release
MSI/bin
MSI/obj
Release
.vs
x64/Debug
x64/Release
